version: '3.4'

services:
  eshop.modernized.webforms:
    environment:
      - ConnectionString=Server=containerizedlegacydb.database.windows.net;Database=eShopOnContainersServicesCatalogDb;User Id=adminlegacy;Password=PaSSw0rdC0dEmot1on
      - UseMockData=False
      - UseCustomizationData=True
      - UseAzureStorage=True
      - StorageConnectionString=DefaultEndpointsProtocol=https;AccountName=containerizedlagacystore;AccountKey=scOZf34KkNKn55p0PiAOlcqJdlUAqGyPCxIt1KEh+ay6DIucfwuc0muBi5F9Wytx8lXvTox0lRBhiF79PRbmoQ==;EndpointSuffix=core.windows.net
      - AppInsightsInstrumentationKey=51970741-aeb3-491a-bc29-8af52f386472
      - UseAzureActiveDirectory=false
      - AzureActiveDirectoryClientId=d46a93b8-1840-4ea7-a09c-aaac8331f9ba
      - AzureActiveDirectoryTenant=3ee9c677-f8bd-4043-a37f-ebd59c2c9e48
      - PostLogoutRedirectUri=http://${ESHOP_EXTERNAL_DNS_NAME_OR_IP:-10.0.75.1}:5114/
    ports:
      - "8080:80"

# sql.data:
#  environment:
#    - SA_PASSWORD=Pass@word
#    - ACCEPT_EULA=Y
#  ports:
#    - "5433:1433"
#  healthcheck:
#    test: [ "CMD", "sqlcmd", "-U", "sa", "-P", "Pass@word", "-Q", "select 1" ]
#    interval: 1s
#    retries: 20

networks:
  default:
    external:
      name: nat
